<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Daily Horoscope
    </ion-title>
  </ion-toolbar>
  <ion-segment class="days-segment" (ionChange)="segmentChanged($event)" value="Today">
    <ion-segment-button value="Yesterday">
      <ion-label>Yesterday</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Today">
      <ion-label>Today</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Tomorrow">
      <ion-label>Tomorrow</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="showModel('Aries','../assets/images/aries.jpg')">
          <ion-card-header>
            <img src="../assets/images/aries.jpg" alt="server">
            <ion-card-title>Aries</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="showModel('Taurus','../assets/images/taurus.jpg')">
          <ion-card-header>
            <img src="../assets/images/taurus.jpg" alt="server">
            <ion-card-title>Taurus</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card (click)="showModel('Gemini','../assets/images/gemini.jpg')">
          <ion-card-header>
            <img src="../assets/images/gemini.jpg" alt="server">
            <ion-card-title>Gemini</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="showModel('Cancers','../assets/images/cancer.jpg')">
          <ion-card-header>
            <img src="../assets/images/cancer.jpg" alt="server">
            <ion-card-title>Cancers</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card (click)="showModel('Leo','../assets/images/leo.jpg')">
          <ion-card-header>
            <img src="../assets/images/leo.jpg" alt="server">
            <ion-card-title>Leo</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="showModel('Virgo','../assets/images/virgo.jpg')">
        <ion-card-header>
          <img src="../assets/images/virgo.jpg" alt="server">
          <ion-card-title>Virgo</ion-card-title>
        </ion-card-header>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card (click)="showModel('Libra','../assets/images/libra.jpg')">
          <ion-card-header>
            <img src="../assets/images/libra.jpg" alt="server">
            <ion-card-title>Libra</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="showModel('Scorpio','../assets/images/scorpio.jpg')">
          <ion-card-header>
            <img src="../assets/images/scorpio.jpg" alt="server">
            <ion-card-title>Scorpio</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card (click)="showModel('Sagittarius','../assets/images/sagittarius.jpg')">
          <ion-card-header>
            <img src="../assets/images/sagittarius.jpg" alt="server">
            <ion-card-title>Sagittarius</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="showModel('Capricorn','../assets/images/capricorn.jpg')">
          <ion-card-header>
            <img src="../assets/images/capricorn.jpg" alt="server">
            <ion-card-title>Capricorn</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card (click)="showModel('Aquarius','../assets/images/aquarius.jpg')">
          <ion-card-header>
            <img src="../assets/images/aquarius.jpg" alt="server">
            <ion-card-title>Aquarius</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="showModel('Pisces','../assets/images/pisces.jpg')">
          <ion-card-header>
            <img src="../assets/images/pisces.jpg" alt="server">
            <ion-card-title>Pisces</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
